{% extends 'index.html' %}

{% block script %}
    <script language="javascript">
    $(function(){
       $('[name=delete-btn]').click(function(){
          window.location='/event_edit/{{ event.id }}/delete';
       });
        $('[name=submit-btn]').click(function(){
            $('form').submit();
        });
        {% if begin_date %}
            $('[name=begin_date]').val("{{ begin_date|date:"Y-m-d H:i:s" }}");
        {% endif %}
        {% if end_date %}
            $('[name=end_date]').val("{{ end_date|date:"Y-m-d H:i:s" }}");
        {% endif %}
    });
    </script>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>


    </form>
    <button name="submit-btn" class="btn">Сохранить</button>
    <button name='delete-btn' class="btn btn-danger">Удалить</button>

{% endblock %}