{% extends 'index.html' %}
{% block script %}
    <script language="javascript">
    $(function(){
        $('[name=edit-btn]').click(function(){
           window.location='/event_edit/'+{{ event.id }};
        });

        $('[name=accept-btn]').click(function(){
            window.location='/event/'+{{ event.id }}+'/accept';
        });
        $('[name=decline-btn]').click(function(){
            window.location='/event/'+{{ event.id }}+'/decline';
        });
    });
    </script>
{% endblock %}
{% block content %}
    <h3>{{ event.name }}</h3>
    <div class="row">
        <div class="span3">
            <dl>
                <dt>Начало в</dt>
                <dd>{{ event.begin_date|date:"H:i:s"}}</dd>
                {% if event.end_date %}
                    <dt>Конец в</dt>
                    <dd>{{ event.end_date|date:"H:i:s"}}</dd>
                {% endif %}
            </dl>

            {% if  accepted %}
            <h5>Подтвердили</h5>
            <ul>
                {% for guest in accepted %}
                    <li>{{ guest }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if declined %}
            <h5>Отказались</h5>
            <ul>
                {% for guest in declined %}
                    <li>{{ guest }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if pending %}
            <h5>Ожидаются</h5>
            <ul>
                {% for guest in pending %}
                    <li>{{ guest }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if not user in accepted %}
                <button class='btn btn-success' name='accept-btn'>Подтвердить</button>
            {% endif %}
            {%  if not user in declined %}
                <button class='btn btn-danger' name='decline-btn'>Отказаться</button>
            {% endif %}
            {% if user == event.owned_by %}
                <button class='btn btn-link' name='edit-btn'>Редактировать</button>
            {% endif %}
{#        <hr />#}

        </div>
        <div class="span3">

            <dl>
                <dt>Описание</dt>
                <dd>
                    {% if event.description %}
                    {{ event.description }}
                    {% else %}
                    Нет описания
                    {% endif %}
                </dd>
            </dl>

        </div>
        <div class="span3">
            <h5>Комментарии</h5>
            <ul class="">
                {% for comment in comments %}
                    <li><div>{{ comment.text }}
                        <br />
                        <small class="muted"> @{{ comment.user }} {{ comment.comment_date|date:"Y-m-d H:i:s" }}</small>
                    </div></li>
                {% endfor %}
            </ul>
            <form action='/event/{{ event.id }}/comment' method="post">
                {% csrf_token %}
                <textarea name="comment_text"></textarea>
                <button class="btn">Оставить кoмментарий</button>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='span4'>

        </div>
    </div>
{% endblock %}