{% include 'header.html' %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Календари</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
{#                {% if user.is_authenticated %}#}
{#              <li class="active"><a href="/calendars">Календари</a></li>#}
{#                {% endif %}#}


                {% if not user.is_authenticated %}
                    <li><a href="/accounts/login_or_register">Войти / Регистрация</a></li>

                    {% else %}
                    <li><a href="#">@{{ user }}</a></li>
                    <li><a href="/accounts/logout">Выйти</a></li>
                {% endif %}
                <li><a href="/about">О календаре</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% load assign %}
    {% if not calendar %}
        {% if event %}
            {% assign calendar event.calendar %}
        {% endif %}
    {% endif %}
    {% if not date %}
        {% if event %}
            {% assign date event.begin_date %}
        {% endif %}
    {% endif %}



        {% block breadcrumbs %}
            {% if user.is_authenticated %}
            <ul class="breadcrumb">
                {% if calendar %}
                    <li><a href="/calendars/{{ calendar.owned_by.id }}">Календари @{{ calendar.owned_by }}</a> <span class="divider">/</span></li>
                    {% else %}
                    <li><a href="/calendars">Календари @{{ user }}</a> <span class="divider">/</span></li>
                {% endif %}

{#                <li><a href="/calendars">Календари</a> <span class="divider">/</span></li>#}
                {% if calendar %}
                    <li><a href="/calendar/{{ calendar.id }}">{{ calendar.name }}</a> <span class="divider">/</span></li>
                {% endif %}
                {% if date %}
                    <li><a href="/events/{{ calendar.id }}/{{ date|date:"Y/m/d" }}">{{ date|date:"Y-m-d" }}</a> <span class="divider">/</span></li>
                {% endif %}
                {% if event %}
                    <li><a href="/event/{{ event.id }}">{{ event.name }}</a> <span class="divider">/</span></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endblock %}

    <div class="container">
    {% block content %}
        <div class="row">
            <div class="span4">
                <p>
                    Мужики  ! Вот вам подарочек - календарик, который всегда напомнит когда репетиция,
                    или предупредит о том, что ее отменят или перенесут. Пользуйтесь!
                </p>
                <p>Для начала <a href="/accounts/login_or_register">войди</a> или <a href="/accounts/login_or_register">зарегистрируйся</a>.</p>
            </div>
        </div>


    {% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script language="javascript">
{#        $(function(){#}
{#           $('[type=password], [type=text]').attr('autocomplete' , 'off');#}
{#        });#}
    </script>
    {% block script %}
    {% endblock %}
{% include 'footer.html' %}

