.cal-cell {
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    height: 80px;
    width: 120px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 3px;

    font-size: 12px;
}

.cal-cell:hover{
    cursor: pointer;
}

.cal-cell-inactive {
    background-color: #ececec;
}

.cal-cell-daynum {
    float: right;
    margin-right: 5px;
}
.cal-cell-today {
    background-color: #b1eeff;
    /*border-width: 2px;*/
    /*margin-right: -1px;*/
    /*margin-: -1px;*/
}
.cal-event-block{

}
.cal-event {
    font-size: 11px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #606060;
    padding-left: 8px;
    /*background-color: #E0FEFE;*/
    background-color: #f6f6f6;
    margin-bottom: 2px;
    line-height: 15px;
    height: 15px;;
    /*color: white;*/
}

.cal-cell-inactive  .cal-event-block .cal-event{
    border-style: solid;
    border-color: #606060;
    background-color: #ececec;
    border-width: 1px;
}
.cal-event-date{
    float:right;
    margin-right: 5px;
}

.hidden {
    display: none;
}